/*======================
    GLOBAL STYLES
======================*/

.container-relative {
    position: relative;
}

.equipo-type {
    font-weight: 700;
    color: #fff;
}

.equipo-modelo {
    display: inline;
    margin-right: 15px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 25px;
}

.is-hidden {
    opacity: 0;
    transition: top 0.2s ease-in-out;
    -webkit-transform: translate(0,-90px);
    -webkit-transition: -webkit-transform .2s,background .3s,color .3s;
}
  
.is-visible {
    opacity: 1;
    transition: top 0.2s ease-in-out;
    -webkit-transform: translate(0,0);
    -webkit-transition: -webkit-transform .2s,background .3s,color .3s;
}

.select-verde {
    color: #54642d;
}

.select-purple {
    color: #702775;
}

.select-blue {
    color: #176ebf;
}

.bullets-productos tr th {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    vertical-align: baseline;
}

.container-video-pad {
    margin-top: 50px;
    margin-bottom: 120px;
}

body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

hr {
    margin-top: 10px;
    margin-bottom: 15px;
    border: 0;
    border-top: 1px solid rgba(238, 238, 238, 0);
}

@font-face {
    font-family: 'allerbold';
    src: url('../fonts/aller_bd-webfont.eot');
    src: url('../fonts/aller_bd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_bd-webfont.woff2') format('woff2'),
         url('../fonts/aller_bd-webfont.woff') format('woff'),
         url('../fonts/aller_bd-webfont.ttf') format('truetype'),
         url('../fonts/aller_bd-webfont.svg#allerbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'allerbold_italic';
    src: url('../fonts/aller_bdit-webfont.eot');
    src: url('../fonts/aller_bdit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_bdit-webfont.woff2') format('woff2'),
         url('../fonts/aller_bdit-webfont.woff') format('woff'),
         url('../fonts/aller_bdit-webfont.ttf') format('truetype'),
         url('../fonts/aller_bdit-webfont.svg#allerbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alleritalic';
    src: url('../fonts/aller_it-webfont.eot');
    src: url('../fonts/aller_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_it-webfont.woff2') format('woff2'),
         url('../fonts/aller_it-webfont.woff') format('woff'),
         url('../fonts/aller_it-webfont.ttf') format('truetype'),
         url('../fonts/aller_it-webfont.svg#alleritalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aller_lightregular';
    src: url('../fonts/aller_lt-webfont.eot');
    src: url('../fonts/aller_lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_lt-webfont.woff2') format('woff2'),
         url('../fonts/aller_lt-webfont.woff') format('woff'),
         url('../fonts/aller_lt-webfont.ttf') format('truetype'),
         url('../fonts/aller_lt-webfont.svg#aller_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aller_lightitalic';
    src: url('../fonts/aller_ltit-webfont.eot');
    src: url('../fonts/aller_ltit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_ltit-webfont.woff2') format('woff2'),
         url('../fonts/aller_ltit-webfont.woff') format('woff'),
         url('../fonts/aller_ltit-webfont.ttf') format('truetype'),
         url('../fonts/aller_ltit-webfont.svg#aller_lightitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'allerregular';
    src: url('../fonts/aller_rg-webfont.eot');
    src: url('../fonts/aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_rg-webfont.woff2') format('woff2'),
         url('../fonts/aller_rg-webfont.woff') format('woff'),
         url('../fonts/aller_rg-webfont.ttf') format('truetype'),
         url('../fonts/aller_rg-webfont.svg#allerregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aller_displayregular';
    src: url('../fonts/allerdisplay-webfont.eot');
    src: url('../fonts/allerdisplay-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/allerdisplay-webfont.woff2') format('woff2'),
         url('../fonts/allerdisplay-webfont.woff') format('woff'),
         url('../fonts/allerdisplay-webfont.ttf') format('truetype'),
         url('../fonts/allerdisplay-webfont.svg#aller_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.first-container-pad {
    margin-top: 127px;
}

.container-pad {
    margin-top: 51px;
}

.cintillo-home-pad {
    margin-top: 70px;
    margin-bottom: 50px;
}

.texto-info-cintillo {
    font-family: 'allerregular';
    color: #a1a2a2;
    margin-top: 10px;
    margin-bottom: 10px;
}

.active-navbar {
    background-color: #00aada;
    font-weight: 700;
    color: #fff!important;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.kill-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.product-cintillo {
    background-color: rgba(255, 255, 255, 0.40);
    padding-bottom: 10px;
}

.phone-logo {
    margin: 15px 0px;
}

.phone-modelo {
    display: inline;
    margin-right: 15px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 25px;
}

.internas-cintillo {
    margin-top: 30px;
    height: 150px;
}

.section-logo {
    float: right;
    padding-right: 15px;
}

.interna-cintillo-left {
    background-color: rgba(0,170,218,0.3);
    padding-top: 33px;
    height: 100%;
}

.interna-cintillo-right-grey {
    background-color: #f3f3f3;
    height: 100%;
    padding-top: 15px;
}

.interna-cintillo-right-black {
    background-color: rgba(0,0,0,0.37);
    height: 100%;
    padding-top: 15px;
}

.interna-cintillo-right-white {
    background-color: #fff;
    height: 100%;
    padding-top: 15px;
}

.interna-cintillo-right-blue {
    background-color: #1fbbe7;
    height: 100%;
    padding-top: 15px;
}

.interna-cintillo-right-cyan {
    background-color: rgba(54,159,190,0.6);
    height: 100%;
    padding-top: 15px;
}

.interna-cintillo-right-title {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #adadad;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
}

.interna-cintillo-right-title span {
    font-size: 39px;
}

.interna-cintillo-right-title-small {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #adadad;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px!important;
    line-height: 30px;
}

.interna-cintillo-right-title-small span {
    font-size: 39px;
}

.interna-cintillo-right-title-small-white {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px!important;
    line-height: 30px;
}

.interna-cintillo-right-title-small-white span {
    font-size: 39px;
}

.interna-cintillo-right-text {
    color: #ADADAD;
    font-size: 15px;
    margin-bottom: 0px;
}

.interna-cintillo-right-text span {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
}

.interna-cintillo-right-text-span {
    font-weight: 100;
    font-size: 32px!important;
}

.interna-cintillo-right-title-white {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
}

.interna-cintillo-right-title-white span {
    font-size: 39px;
}

.interna-cintillo-right-text-white {
    color: #fff;
    font-size: 15px;
    margin-bottom: 0px;
}

.interna-cintillo-right-text-white span {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
}

.interna-cintillo-right-text-span-white {
    font-weight: 100;
    font-size: 18px!important;
}

.vertical-line {
    border-right: solid 2px #ADADAD;
    padding-top: 3px;
    padding-bottom: 102px;
    margin-left: 20px;
}

.vertical-line-white {
    border-right: solid 2px #fff;
    padding-top: 3px;
    padding-bottom: 102px;
    margin-left: 20px;
}

.image-pad {
    padding-top: 40px;
    padding-bottom: 40px;
}

.image-pad-no-bottom {
    padding-top: 40px;
    padding-bottom: 0px;
}

.iconos-producto-cintillo {
    background-color: #fff;
    margin-top: 375px;
    padding-bottom: 50px;
    padding-top: 90px;
}

.iconos-producto-texto {
    font-family: 'allerregular';
    color: #a1a2a2;
    margin-top: 10px;
    margin-bottom: 10px;
}

.producto-cintillo {
    background-color: rgba(255, 255, 255, 0.40);
    padding-bottom: 10px;
}

.producto-logo {
    margin-top: 15px;
    margin-bottom: 15px;
}

.ver-mas-btn {
    color: #fff;
    font-family: 'allerregular';
    border: 1px rgba(255, 255, 255, 0.50) solid;
    padding: 5px 15px;
    vertical-align: super;
    position: relative;
    z-index: 100;
}

.ver-mas-btn:hover {
    background-color: rgba(255, 255, 255, 0.55);
    color: #00AADA;
    text-decoration: none;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

/*-----INFO SECTION-----*/

#info-section {
    background-color: #f9f9fa;
}

.info-container-pad {
    margin-top: 120px;
    margin-bottom: 120px;
}

.info-section-title {
    margin-bottom: 0px;
    color: #acadad;
    font-weight: 700;
    font-size: 18px;
}

.info-section-text {
    margin-bottom: 25px;
    color: #ACADB4;
}

.info-section-text span {
    font-weight: 600;
}

.mah {
    font-size: 19px!important;
    text-transform: capitalize!important;
    font-weight: 100;
}

/*------NAVBAR------*/

#header-custom {
    position: fixed;
    z-index: 101;
    width: 100%;
    transition: top 0.2s ease-in-out;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: -15px;
    padding: 0px;
}

.navbar-inverse {
    background-color: #f4f4f4;
    border-color: #080808;
    border: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.navbar-nav>li>a:hover {
    color: #fff!important;
    background-color: #35C2EA!important;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.navbar-inverse .navbar-nav>li>a {
    color: #9d9d9d;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.navbar-header {
    padding-top: 3px;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle {
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #E2E2E2;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.navbar-inverse .navbar-toggle {
    border-color: #CCC;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #CCC;
}

.header-subclass {
    margin-top: 85px;
    background-color: rgba(131,131,131,0.80);
}

.header-subclass h6 {
    display: inline-block;
    color: #40CFF7;
    font-size: 20px;
    font-family: 'allerregular';
    vertical-align: bottom;
    margin-top: 5px;
    margin-bottom: 4px;
}

.header-subclass ul {
    display: inline-block;
    margin-bottom: 5px;
}

.header-subclass ul li {
    display: inline-block;
}

.header-subclass ul li a {
    font-size: 14px;
    color: #fff;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    padding: 5px 10px;
}

.header-subclass ul li a:hover {    
    background-color: rgba(255, 255, 255, 0.32);
    color: #9DD0FD;
    text-decoration: none;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.header-subclass ul li a:focus, .header-subclass ul li a:active {
    text-decoration: none;
}

.subclass-active {    
    background-color: #fff;
    color: #2db4da!important;
}

.axis-phone-home {
    position: absolute;
    left: 50%;
    margin-left: -210px;
    z-index: 3;
    top: 135px;
}

.spin-phone-home {
    position: absolute;
    left: 50%;
    margin-left: -176px;
    z-index: 3;
    top: 40px;
}

.level-phone-home {
    position: absolute;
    left: 50%;
    margin-left: -170px;
    z-index: 3;
    top: 110px;
}

.horizon-phone-home {
    position: absolute;
    left: 50%;
    margin-left: -120px;
    z-index: 3;
    top: 80px;
}

.compass-phone-home {
    position: absolute;
    left: 50%;
    margin-left: -135px;
    z-index: 3;
    top: 70px;
}

.info-phone-cintillo {
    background-color: #fff;
    margin-top: 375px;
}



/*------FOOTER------*/

footer {
    background-color: #e4e4e4;
}

input {
    width: 100%;
    margin-bottom: 10px;
    height: 50px;
    padding: 15px;
}

textarea {
    width: 100%;
    resize: none;
    margin-bottom: 10px;
    height: 200px;
    padding: 15px;
}

.contactos-pad {
    padding-bottom: 50px;    
    padding-top: 50px;    
}

.footer-links {
    font-family: 'Open Sans', sans-serif;
    display: block;
    padding-left: 0px;
    padding-top: 30px;
}

.footer-links li {
    display: inline-block;
}

.footer-links li a {
    color: #838383;
    font-size: 15px;
    font-weight: 300;
    padding: 0px 5px;
}

.footer-links li a:hover {
    color: #383535;
    text-decoration: none;
}

.btn-primary, .btn-primary:focus, .btn-primary:active {
    color: #00AADA;
    background-color: rgba(51, 122, 183, 0);
    border-color: #00AADA;
    border-radius: 0;
    padding: 5px 25px;
    font-family: 'Open Sans', sans-serif;
    float: right;
}

.btn-primary:hover {
    color: #83E4FF;
    background-color: rgba(255, 255, 255, 0.31);
    border-color: #83E4FF;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.botonera-footer {
    background-color: #d0d0d0;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px 0px;
}

.btn-contactos {
    color: #fff;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 20px 25px;
}

.btn-contactos:hover {
    background-color: #00AADA;
    text-decoration: none;
    color: #fff;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.btn-contactos:focus {
    text-decoration: none;
    color: #fff;
}

.botonera-carousel {
    margin-bottom: 0px;
}

.botonera-carousel li {
    list-style: none;
    display: inline-block;
}

.contactos-title {
    font-size: 20px;
    color: #838383;
    font-weight: 600;
}

.contactos-text span {
    color: #838383;
    font-size: 18px;
    font-weight: 600;
}

.contactos-text {
    color: #838383;
    font-size: 15px;
    margin-bottom: 0;
}

.datos-title {
    font-size: 19px;
    font-weight: 600;
    color: #838383;
    border-bottom: 2px solid #838383;
    margin-right: 60px;
    text-transform: uppercase;
}

.datos-text {
    font-size: 15px;
    font-weight: 600;
    color: #838383;
}

.datos-text span {
    font-size: 20px;
}

.datos-text a {
    font-size: 15px;
    font-weight: 600;
    color: #838383;
}

.datos-text a:hover {
    color: #35C2EA;;
    text-decoration: none;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.datos-text a:focus, .datos-text a:active {
    text-decoration: none;
}

.tel-icon {
    max-width: 20px;
    display: inline!important;
    vertical-align: baseline;
    color: #838383;
}

.truck-icon {
    max-width: 26px;
    display: inline!important;
    vertical-align: baseline;
    color: #838383;
}

.tool-icon {
    max-width: 26px;
    display: inline!important;
    vertical-align: baseline;
    color: #838383;
}

.mail-icon {
    max-width: 21px;
    display: inline!important;
    vertical-align: baseline;
    color: #838383;
}

.form-title {
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 17px;
    color: #838383;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 400;
}

.copyright {
    background-color: #1a1a1a;
    margin-bottom: 0px;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 13px;
}

/*============================
        SMARTPHONES
============================*/

/*--------AXIS-------*/

#axis {
    background: url(../img/axis/axis-home-bg.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.axis-phone-interna {
    position: absolute;
    left: 50%;
    margin-left: -192px;
    z-index: 3;
    top: 142px;
}

#pantalla-axis {
    background-color: #fff;
}

#camara-axis {
    background: url(../img/axis/interna-bg-01.jpg);
    background-size: cover;
}

#hd-axis {
    background-color: #fff;
}

#cell-axis {
    background-color: #f2f2f2;
}

#sim-axis {
    background: url(../img/axis/interna-bg-03.jpg);
    background-size: cover;
}

#bateria-axis {
    background: url(../img/axis/interna-bg-02.jpg);
    background-size: cover;
}

/*--------SPIN-------*/

#spin {
    background: url(../img/spin/spin-home-bg.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.spin-phone-interna {
    position: absolute;
    left: 50%;
    margin-left: -192px;
    z-index: 3;
    top: 120px;
}

#pantalla-spin {
    background-color: #fff;
}


#camara-spin {
    background: url(../img/spin/interna-bg-01.jpg);
    background-size: cover;
}

#hd-spin {
    background-color: #fff;
}

#cell-spin {
    background-color: #f2f2f2;
}

#sim-spin {
    background: url(../img/spin/interna-bg-02.jpg);
    background-size: cover;
}

#bateria-spin {
    background: url(../img/spin/interna-bg-03.jpg);
    background-size: cover;
}


/*--------LEVEL-------*/

#level {
    background: url(../img/level/level-home-bg.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.level-phone-interna {
    position: absolute;
    left: 50%;
    margin-left: -192px;
    z-index: 3;
    top: 145px;
}

#pantalla-level {
    background-color: #fff;
}

#hd-level {
    background: url(../img/level/interna-bg-01.jpg);
    background-size: cover;
}

#camara-level {
    background-color: #f2f2f2;
}

#cell-level {
    background-color: #f2f2f2;
}

#sim-level {
    background-color: #f2f2f2;}

#bateria-level {
    background: url(../img/level/interna-bg-02.jpg);
    background-size: cover;
}

/*--------HORIZON-------*/

#horizon {
    background: url(../img/horizon/horizon-home-bg.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.horizon-phone-interna {
    position: absolute;
    left: 50%;
    margin-left: -192px;
    z-index: 3;
    top: 160px;
}

#pantalla-horizon {
    background-color: #fff;
}

#hd-horizon {
    background-color: #fff;
}

#camara-horizon {
    background: url(../img/horizon/interna-bg-01.jpg);
    background-size: cover;
}

#cell-horizon {
    background-color: #f2f2f2;
}

#sim-horizon {
    background: url(../img/horizon/interna-bg-02.jpg);
    background-size: cover;
    padding-bottom: 550px;
}

#bateria-horizon {
    background: url(../img/horizon/interna-bg-03.jpg);
    background-size: cover;
}

/*--------COMPASS-------*/

#compass {
    background: url(../img/compass/compass-home-bg.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.compass-phone-interna {
    position: absolute;
    left: 50%;
    margin-left: -130px;
    z-index: 3;
    top: 170px;
}

#pantalla-compass {
    background-color: #fff;
}

#hd-compass {
    background-color: #f2f2f2;
}

#camara-compass {
    background: url(../img/compass/interna-bg-01.jpg);
    background-size: cover;
}

#cell-compass {
    background-color: #f2f2f2;
}

#sim-compass {
    background: url(../img/compass/interna-bg-02.jpg);
    background-size: cover;
    padding-bottom: 550px;
}

#bateria-compass {
    background: url(../img/compass/interna-bg-03.jpg);
    background-size: cover;
}

/*============================
        TABLETS
============================*/

.info-tablet-cintillo {
    background-color: #fff;
    margin-top: 375px;
}

.info-tablet-cintillo-interna {
    background-color: rgba(255, 255, 255, 0.40);
    padding-bottom: 10px;
    margin-top: 126px
}

.caracteristicas-tablets {
    color: #b4b4b4;
    font-weight: 600;
}

.cintillo-tablet-pad {
    margin-top: 115px;
    margin-bottom: 50px;
}

#tb-78b {
    background: url(../img/tb78b/tb78b-home-bg.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.tb78b-tablet-home {
    position: absolute;
    left: 50%;
    margin-left: -321px;
    z-index: 3;
    top: 235px;
}

#tb-78hd {
    background: url(../img/tb78hd/tb78hd-home-bg.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.tb78hd-tablet-home {
    position: absolute;
    left: 50%;
    margin-left: -321px;
    z-index: 3;
    top: 165px;
}

.tb78hd-tablet-interna {
    position: absolute;
    left: 50%;
    margin-left: -321px;
    z-index: 3;
    top: 225px;
}

#tb-78q2 {
    background: url(../img/tb78qb/tb78qb-home-bg.jpg);
    background-size: cover;
    background-position: 50% -160px;
    background-repeat: no-repeat;
}

.tb78qb-tablet-home {
    position: absolute;
    left: 50%;
    margin-left: -321px;
    z-index: 3;
    top: 165px;
}

.tb78qb-tablet-interna {
    position: absolute;
    left: 50%;
    margin-left: -310px;
    z-index: 3;
    top: 230px;
}

#tb-716q2 {
    background: url(../img/tb716qb/tb716qb-home-bg.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.tb716qb-tablet-home {
    position: absolute;
    left: 50%;
    margin-left: -321px;
    z-index: 3;
    top: 165px;
}

.tb716qb-tablet-interna {
    position: absolute;
    left: 50%;
    margin-left: -300px;
    z-index: 3;
    top: 210px;
}

/*============================
        AUDIO
============================*/

.info-audio-cintillo {
    background-color: #fff;
    margin-top: 375px;
}

.info-audio-cintillo-interna {
    background-color: rgba(255, 255, 255, 0.40);
    padding-bottom: 10px;
    margin-top: 126px;
}

.cintillo-audio-pad {
    margin-top: 115px;
    margin-bottom: 50px;
}

#ms-250m {
    background: url(../img/ms250m/ms250m-home-bg.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.ms250m-audio-home {
    position: absolute;
    left: 44%;
    margin-left: -210px;
    z-index: 3;
    top: 265px;
}

#ms-200 {
    background: url(../img/ms200/ms200-home-bg.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.ms200-audio-home {
    position: absolute;
    left: 39%;
    margin-left: -210px;
    z-index: 3;
    top: 225px;
}

.ms200-audio-interna {
    position: absolute;
    left: 39%;
    margin-left: -200px;
    z-index: 3;
    top: 320px;
}

#ms-202s {
    background: url(../img/ms202s/ms202s-home-bg.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.ms202s-audio-home {
    position: absolute;
    left: 35%;
    margin-left: -210px;
    z-index: 3;
    top: 265px;
}

.ms202s-audio-interna {
    position: absolute;
    left: 35%;
    margin-left: -181px;
    z-index: 3;
    top: 350px;
}

#mc-210 {
    background: url(../img/mc210/mc210-home-bg.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.mc210-audio-home {
    position: absolute;
    left: 44%;
    margin-left: -210px;
    z-index: 3;
    top: 235px;
}

.mc210-audio-interna {
    position: absolute;
    left: 44%;
    margin-left: -210px;
    z-index: 3;
    top: 320px;
}

#sp-130 {
    background: url(../img/sp130/sp130-home-bg.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.sp130-audio-home {
    position: absolute;
    left: 50%;
    margin-left: -160px;
    z-index: 3;
    top: 110px;
}

.sp130-audio-internas {
    position: absolute;
    left: 50%;
    margin-left: -160px;
    z-index: 3;
    top: 195px;
}

#bb-82l {
    background: url(../img/bb82l/bb82l-home-bg.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.bb82l-audio-home {
    position: absolute;
    left: 44%;
    margin-left: -170px;
    z-index: 3;
    top: 250px;
}

.bb82l-audio-interna {
    position: absolute;
    left: 44%;
    margin-left: -170px;
    z-index: 3;
    top: 305px;
}

#bts-05wc {
    background: url(../img/bts05wc/bts05wc-home-bg.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.bts05wc-audio-home {
    position: absolute;
    left: 44%;
    margin-left: -220px;
    z-index: 3;
    top: 290px;
}

.bts05wc-audio-interna {
    position: absolute;
    left: 44%;
    margin-left: -220px;
    z-index: 3;
    top: 310px;
}

#bts-20wr {
    background: url(../img/bts20wr/bts20wr-home-bg.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.bts20wr-audio-home {
    position: absolute;
    left: 44%;
    margin-left: -230px;
    z-index: 3;
    top: 240px;
}

.bts20wr-audio-interna {
    position: absolute;
    left: 44%;
    margin-left: -230px;
    z-index: 3;
    top: 300px;
}

/*============================
        VIDEO
============================*/

#dvp-720g {
    background: url(../img/dvp720g/dvp720g-home-bg.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.dvp720g-audio-home {
    position: absolute;
    left: 44%;
    margin-left: -182px;
    z-index: 3;
    top: 145px;
}

.dvp720g-audio-interna {
    position: absolute;
    left: 44%;
    margin-left: -182px;
    z-index: 3;
    top: 155px;
}

#dvp-920g {
    background: url(../img/dvp920g/dvp920g-home-bg.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.dvp920g-audio-home {
    position: absolute;
    left: 44%;
    margin-left: -182px;
    z-index: 3;
    top: 70px;
}

.dvp920g-audio-interna {
    position: absolute;
    left: 44%;
    margin-left: -182px;
    z-index: 3;
    top: 155px;
}

#vr-101b {
    background: url(../img/vr-101b/vr101b-home-bg.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.vr-101b-home {
    position: absolute;
    left: 44%;
    margin-left: -182px;
    z-index: 3;
    top: 115px;
}

/*============================
        CAR AUDIO
============================*/

#cbs-511 {
    background: url(../img/cbs511/cbs511-home-bg.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.cbs511-audio {
    position: absolute;
    left: 44%;
    margin-left: -443px;
    z-index: 3;
    top: 384px;
}

#cbs-512 {
    background: url(../img/cbs512/cbs512-home-bg.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.cbs512-audio-home {
    position: absolute;
    left: 44%;
    margin-left: -530px;
    z-index: 3;
    top: 351px;
}

.cbs512-audio-interna {
    position: absolute;
    left: 44%;
    margin-left: -530px;
    z-index: 3;
    top: 409px;
}

#spt-693 {
    background: url(../img/spt693/spt693-home-bg.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.spt693-audio-home {
    position: absolute;
    left: 44%;
    margin-left: -405px;
    z-index: 3;
    top: 248px;
}

.spt693-audio-interna {
    position: absolute;
    left: 44%;
    margin-left: -405px;
    z-index: 3;
    top: 322px;
}

/*============================
        EMPRESA
============================*/

#empresa {
    background: url(../img/empresa/empresa-home-bg.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    padding-bottom: 250px;
}

.info-empresa-section-title {
    margin-bottom: 20px;
    color: #acadad;
    font-weight: 700;
    font-size: 18px;
}

.info-empresa-section-text {
    margin-bottom: 20px;
    color: #ACADB4;
}

/*============================
        CONTACTO
============================*/

#contact {
    background: url(../img/contacto/contacto-home-bg.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    padding-bottom: 250px;
}